{% extends 'nav.html' %} {% block page_title %}Boxes List{% endblock page_title %} {% block main %}
<h1 class="">Boxes List</h1>
<form action="{% url 'bigbox:boxes' %}" method="post">
  {% csrf_token %}
  <input name="box_slug" type="slug" placeholder="Insert a box slug..." />
  <button>Search</button>
</form>
<ul class="list-group">
  {% for box in boxes %}
  <a class="list-group-item list-group-item-action" href="{% url 'bigbox:box_detail' box.id %}">{{box.name}}</a>
  {% endfor %}
</ul>
{% endblock main %}
